# Local development configuration
DATABASE_URL=postgresql://user:pass@localhost:5433/url_db
REDIS_URL=redis://localhost:6379/0
KAFKA_BOOTSTRAP_SERVERS=localhost:9094
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002,http://localhost:3003
LOG_LEVEL=INFO
JAEGER_AGENT_HOST=localhost
JAEGER_AGENT_PORT=6831
PORT=8000